In [5]:
# Assignment 1
# Q1. Create one variable containing following type of data:

# (i)	string

# (ii)	list

# (iii)	float

# (iv)	tuple
my_string = "Hello, world!"
my_list = [1, 2, 3, 4, 5]
my_float = 3.14159
my_tuple = (6, 7, 8, 9, 10)
print(my_string)
print(my_list)
print(my_float)
print(my_tuple)

Hello, world!
[1, 2, 3, 4, 5]
3.14159
(6, 7, 8, 9, 10)

In [11]:
# Q2. Given are some following variables containing data:

# (i)	var1 = ‘ ‘

# (ii)	var2 = ‘[ DS , ML , Python]’

# (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

# (iv)	var4 = 1.
# What will be the data type of the above given variable
var1=''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))


# (i) var1 is a string data type.

# (ii) var2 is a string data type.

# (iii) var3 is a list data type.

# (iv) var4 is a float data type.

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [12]:
# Q3. Explain the use of the following operators using an example:

# (i)	/

# (ii)	% 

# (iii)	//

# (iv)	**

In [13]:
# (i) / (Division Operator):
# The division operator / is used to divide one number by another. 
# It performs floating-point division, which means it returns a floating-point result. Here's an example:

In [14]:
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [15]:
# (ii) % (Modulo Operator):
# The modulo operator % is used to find the remainder of the division between two numbers. It returns the remainder as the result. Here's an example:

In [16]:
a = 10
b = 3
result = a % b
print(result)

1

In [17]:
# (iii) // (Floor Division Operator):
# The floor division operator // is used to perform integer division, which returns the quotient without the fractional part. Here's an example:

In [18]:
a = 10
b = 3
result = a // b
print(result)

3

In [19]:
# (iv) ** (Exponentiation Operator):
# The exponentiation operator ** is used to raise a number to a power.
# It calculates the exponentiation of the base number with the given power. Here's an example:

In [20]:
base = 2
power = 3
result = base ** power
print(result)

8

In [21]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
# element and its data type

In [22]:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], 'Python', 5.6, False, (4, 5), {'key': 'value'}]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 10
Data Type: <class 'int'>

Element: Hello
Data Type: <class 'str'>

Element: 3.14
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: Python
Data Type: <class 'str'>

Element: 5.6
Data Type: <class 'float'>

Element: False
Data Type: <class 'bool'>

Element: (4, 5)
Data Type: <class 'tuple'>

Element: {'key': 'value'}
Data Type: <class 'dict'>

In [23]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
# times it can be divisible

In [24]:
A = 36
B = 6
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("Number A is divisible by number B", count, "times.")

Number A is divisible by number B 2 times.

In [25]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
# divisible by 3 or not

In [26]:
my_list = [12, 7, 18, 5, 9, 21, 14, 27, 30, 8, 16, 33, 20, 22, 11, 36, 6, 4, 25, 15, 10, 3, 19, 24, 28]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

12 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
5 is not divisible by 3
9 is divisible by 3
21 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
8 is not divisible by 3
16 is not divisible by 3
33 is divisible by 3
20 is not divisible by 3
22 is not divisible by 3
11 is not divisible by 3
36 is divisible by 3
6 is divisible by 3
4 is not divisible by 3
25 is not divisible by 3
15 is divisible by 3
10 is not divisible by 3
3 is divisible by 3
19 is not divisible by 3
24 is divisible by 3
28 is not divisible by 3

In [27]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
# this property

In [28]:
# Mutable and immutable are two fundamental concepts in programming that describe whether a data type can be modified after it is created.

# Immutable Data Types:
# Immutable data types are those whose values cannot be changed once they are assigned. 
# If any modification is made to an immutable object, a new object is created with the modified value.
# Examples of immutable data types in Python include strings, numbers (integers, floats), and tuples.

# Here's an example demonstrating the immutability of a string:

In [29]:
string = "Hello"
modified_string = string + " World"
print(string)           # Output: Hello
print(modified_string)  # Output: Hello World

Hello
Hello World

In [30]:
# Mutable Data Types:
# Mutable data types, on the other hand, are those that can be modified directly. 
# Changes made to a mutable object affect the object itself, without creating a new object.
# Examples of mutable data types in Python include lists, dictionaries, and sets.

# Here's an example demonstrating the mutability of a list:

In [31]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]