In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. 
# Then, print the series.

In [3]:
import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Printing the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.
# Series function on the variable print it.

In [6]:
import pandas as pd

# Creating a list with 10 elements
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Applying Pandas Series function
my_series = pd.Series(my_list)

# Printing the series
print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [9]:
# Q3. Create a Pandas DataFrame that contains the following data:
# Name
# Alice
# Bob
# Claire

# Age
# 25
# 30
# 27

# Gender
# Female
# Male
# Female

In [8]:
import pandas as pd

# Creating a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from
# pandas.series? Explain with an example.

In [11]:
# In Pandas, a DataFrame is a two-dimensional labeled data structure with columns 
# that can be of different data types. It is similar to a spreadsheet or SQL table,
# where data is organized in rows and columns. Each column in a DataFrame is 
# essentially a Pandas Series.

# On the other hand, a Pandas Series is a one-dimensional labeled array.
# It can be thought of as a single column of a DataFrame. A DataFrame can 
# be considered as a collection of Series, where each column is a Series.

In [12]:
import pandas as pd

# Creating a Series
my_series = pd.Series([10, 20, 30, 40], name='MyColumn')

# Creating a DataFrame
my_dataframe = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female'],
    'MyColumn': [10, 20, 30]  # Adding the Series as a column
})

# Printing the Series
print("Series:")
print(my_series)
print("\n")

# Printing the DataFrame
print("DataFrame:")
print(my_dataframe)

Series:
0    10
1    20
2    30
3    40
Name: MyColumn, dtype: int64


DataFrame:
     Name  Age  Gender  MyColumn
0   Alice   25  Female        10
1     Bob   30    Male        20
2  Claire   27  Female        30

In [13]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? 
# Can you give an example of when you might use one of these functions?

In [15]:
# Pandas provides a rich set of functions for manipulating data in a DataFrame. Some common functions include:

# 1.head() and tail():

# head(n) returns the first n rows of the DataFrame.
# tail(n) returns the last n rows of the DataFrame.

# Example
print(df.head(2))  # Prints the first 2 rows of the DataFrame

# 2.describe():
# describe() provides summary statistics of the numerical columns in the DataFrame.

# Example
print(df.describe())

# 3.info():
# info() gives a concise summary of the DataFrame, including data types and missing values.

# Example
print(df.info())

# 4.loc[] and iloc[]:
# loc[] is label-based indexing, and iloc[] is integer-based indexing. 
# They are used to access a group of rows and columns by labels or integers.

# Example
print(df.loc[:, 'Name'])  # Prints the 'Name' column

# 5.groupby():
# groupby() is used for grouping rows based on a column and applying a function to each group.

# Example
grouped_data = df.groupby('Gender')['Age'].mean()
print(grouped_data)

# 6.apply():
# apply() is used to apply a function along the axis of the DataFrame.

# Example
df['Age_Squared'] = df['Age'].apply(lambda x: x**2)
print(df)

# 7.sort_values():
# sort_values() is used to sort the DataFrame by one or more columns.

# Example
df_sorted = df.sort_values(by='Age', ascending=False)
print(df_sorted)

    Name  Age  Gender  Age_Squared
0  Alice   25  Female          625
1    Bob   30    Male          900
             Age  Age_Squared
count   3.000000     3.000000
mean   27.333333   751.333333
std     2.516611   138.853640
min    25.000000   625.000000
25%    26.000000   677.000000
50%    27.000000   729.000000
75%    28.500000   814.500000
max    30.000000   900.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         3 non-null      object
 1   Age          3 non-null      int64
 2   Gender       3 non-null      object
 3   Age_Squared  3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object
Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64
     Name  Age  Gender  Age_Squared
0   Alice   25  Female          625
1     Bob   30    Male          900
2  Claire   27  Female          729
     Name  Age  Gender  Age_Squared
1     Bob   30    Male          900
2  Claire   27  Female          729
0   Alice   25  Female          625

In [16]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [17]:
# In Pandas, both Series and DataFrame are mutable in nature, meaning you can modify their contents after they are created.

# Series: A Pandas Series is mutable. You can modify the values in a Series after it has been created.

# DataFrame: Similarly, a Pandas DataFrame is also mutable. You can add, remove, or modify columns and rows in a DataFrame.

# Panel: However, the Panel is no longer recommended for use as of Pandas version 0.25.0 (July 2019). It has been deprecated,
# and users are encouraged to use MultiIndex DataFrames instead. In a MultiIndex DataFrame, the mutability depends on the
# DataFrame it is derived from, and it is mutable unless explicitly set to be immutable.

# So, in summary, Series and DataFrame are mutable, but Panels are deprecated in recent versions of Pandas.

In [18]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
ages = pd.Series([25, 30, 27], name='Age')
genders = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female